/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: #1fbbe1;
    margin: 0px;
}

html,body, mat-sidenav-container, .content {
    height: 100%;
}

.full-width {
    width: 100%;
}